<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portofolio</title>
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="stylesheet" href="../asset/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../resources/css/maicons.css">
</head>

<body>
    <div class="container">
        <div class="row shadow-sm py-5 rounded-5 bg-light sub-container">
            <div class="col-lg-4 col-md-4 col-sm-6 profil">
                <img src="../asset/img/undraw_profile.svg" alt="profil" class="gambar-profil ms-3">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 deskripsi">
                <span class="text-primary deskripsi-1">Hi, I am Cholik Setyo</span>
                <br>
                <span class="deskripsi-2">I am a website developer is specialist in Backend</span>
                <div class="d-flex sosmed mt-1">
                    <i class="mai-logo-twitter rounded bg-primary text-white me-2 p-1"></i>
                    <i class="mai-logo-facebook-f rounded bg-primary text-white me-2 p-1"></i>
                    <i class="mai-logo-instagram rounded bg-primary text-white me-2 p-1"></i>
                    <i class="mai-logo-linkedin bg-primary text-white rounded p-1"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 pt-2">
                <div class="ms-3 navbar-right">
                    <a class="navbar-link text-decoration-none mb-2" href="#about">About</a>
                    <a class="navbar-link text-decoration-none mb-2" href="#skill">Skills</a>
                    <a class="navbar-link text-decoration-none" href="#projek">Last project</a>
                </div>
            </div>
        </div>

        <div class="heading-sub mx-auto my-3">
            <h5 class="text-primary text-center fw-bold" id="about">About Me</h5>
        </div>

        <div class="shadow-sm py-5 rounded-5 bg-light sub-container">
            <div class="about">
                <p class="text-center w-50 mx-auto">
                    <strong>Saya Cholik</strong>, Fresh graduated
                    dari jurusan Informatika Universitas Trunojoyo Madura.
                    Saat ini saya sedang berfokus untuk membangun karir
                    di bidang website khususnya backend developer. Bahasa
                    pemrograman favorit saya adalah PHP
                </p>
            </div>
        </div>

        <div class="heading-sub mx-auto my-3">
            <h5 class="text-primary text-center fw-bold" id="skill">Skills</h5>
        </div>

        <div class="my-3 sub-container-2">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="d-flex flex-column justify-content-center skill rounded-5 bg-light">
                        <img src="../asset/img/logo-php.png" alt="profil" class="gambar-profil mx-auto w-25">
                        <p class="mt-4 text-center">
                            Penggunaan PHP secara native dan mvc
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="d-flex flex-column justify-content-center skill rounded-5 bg-light">
                        <img src="../asset/img/logo-python.png" alt="profil" class="gambar-profil mx-auto w-25">
                        <p class="mt-4 text-center">
                            Penggunaan Python untuk sains data dan website
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="d-flex flex-column justify-content-center skill rounded-5 bg-light">
                        <img src="../asset/img/logo-mysql.png" alt="profil" class="gambar-profil mx-auto w-25">
                        <p class="mt-4 text-center">
                            Penggunaan MySQL untuk pembuatan database
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="d-flex flex-column justify-content-center skill rounded-5 bg-light">
                        <img src="../asset/img/logo-bootstrap.png" alt="profil" class="gambar-profil mx-auto w-25">
                        <p class="mt-4 text-center">
                            Penggunaan Bootstrap untuk pembuatan interface
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading-sub-2 mx-auto my-3">
            <h5 class="text-primary text-center fw-bold" id="projek">Last Project</h5>
        </div>

        <div class="shadow-sm rounded d-flex flex-column bg-light proyek sub-container-2">
            <div class="d-flex">
                <div class="d-flex ms-3 proyek-bingkai pt-2 bg-white shadow-sm justify-content-center align-content-center mt-2 pb-2">
                    <img src="../asset/img/dasboard.png" alt="gambar-proyek" class="img-thumbnail">
                    <div class="flex-column pe-1">
                        <h4><strong class="text-dark ms-3">Sistem Inventaris Barang</strong></h4>
                        <div class="mt-1 ms-3 mb-2 deskripsi-proyek">
                            Kelola barang toko menggunakan PHP
                        </div>
                        <a href="https://cholik08.github.io/come-soon/" class="py-1 rounded px-3 ms-3 text-decoration-none text-white">Visit Project<i class="mai-arrow-forward ms-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div class="d-flex me-3 proyek-bingkai pt-2 bg-white shadow-sm justify-content-center align-content-center mt-2 pb-2">
                    <img src="../asset/img/rumah-kita.png" alt="gambar-proyek" class="img-thumbnail">
                    <div class="flex-column pe-1">
                        <h4><strong class="text-dark ms-3">Rumah Kita</strong></h4>
                        <div class="mt-1 ms-3 mb-2 deskripsi-proyek">
                            Landing page dengan html, css, dan javascript
                        </div>
                        <a href="https://cholik08.github.io/rumah-kita/" class="py-1 rounded px-3 ms-3 text-decoration-none text-white">Visit Project<i class="mai-arrow-forward ms-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="d-flex ms-3 proyek-bingkai pt-2 bg-white shadow-sm justify-content-center align-content-center mt-2 pb-2">
                    <img src="../asset/img/catatan-buku-pribadi.png" alt="gambar-proyek" class="img-thumbnail">
                    <div class="flex-column pe-1">
                        <h4><strong class="text-dark ms-3">Catatan Buku Pribadi</strong></h4>
                        <div class="mt-1 ms-3 mb-2 deskripsi-proyek">
                            Catatan buku menggunakan javascript
                        </div>
                        <a href="https://cholik08.github.io/catatanbuku/" class="py-1 rounded px-3 ms-3 text-decoration-none text-white">Visit Project<i class="mai-arrow-forward ms-1"></i></a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div class="d-flex me-3 proyek-bingkai pt-2 bg-white shadow-sm justify-content-center align-content-center mt-2 pb-2">
                    <img src="../asset/img/sistem-informasi-apotik.png" alt="gambar-proyek" class="img-thumbnail">
                    <div class="flex-column pe-1">
                        <h4><strong class="text-dark ms-3">Sistem Informasi Apotik</strong></h4>
                        <div class="mt-1 ms-3 mb-2 deskripsi-proyek">
                            Kelola obat, pegawai, laporan penjualan apotik menggunakan laravel
                        </div>
                        <a href="https://cholik08.github.io/come-soon/" class="py-1 rounded px-3 ms-3 text-decoration-none text-white">Visit Project<i class="mai-arrow-forward ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-auto my-5 footer">
            <h5 class="text-center fw-bold rounded-2 p-2 bg-light"><i class="fas fa-copyright me-1"></i>Cholik 2024</h5>
        </div>
    </div>
    <script src="../bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
</body>

</html>